<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>HOME PAGE</title>
</head>
<body>

    <h1>DEMO</h1>

    <div>
        <form method="get" action="/take_attendance">
            <button type="submit">TAKE ATTENDANCE</button>
        </form>
        <form method="get" action="/live_attendance">
            <button type="submit">LIVE ATTENDANCE</button>
        </form>
        <form method="get" action="/suggestions">
            <button type="submit">SUGGESTIONS</button>
        </form>
        <form method="get" action="/daily_routine">
            <button type="submit">DAILY ROUTINE</button>
        </form>
    </div>
</body>
</html>