<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>HOME PAGE</title>
</head>
<body>
    <header class="navbar">
        <div class="nav-left">
            <img src="../image/LOGO.jpg" alt="LOGO" class="logo">
        </div>
        <div class="nav-right">
             <div class="notifications">
                <i class="fas fa-bell"></i>
                <!-- <span class="badge">1</span>
                <div class="noti-dropdown">
                    <p><strong>Class Update:</strong>Class at 1:00 PM monday has been cancelled . you have free slot at that time</p>
            </div> -->
            </div>
            <div class="profile-dropdown">
            <i class="fa-solid fa-user"></i>
                <div class="dropdown-content">
                    <a href="#">My Profile</a>
                    <a href="#">Settings</a>
                    <a href="#">Logout</a>
                </div>
            </div>
        </div>
    </header>
        <section class="info-ribbon">
            <p><strong>Holiday Notice:</strong> College closed on Friday</p>
            <p><strong>Announcements:</strong> Workshop on AI tomorrow</p>
            <p><strong>Library Update:</strong> New AI/ML books available</p>
        </section>
<main class="home_container">
    <div class="button_row1">
        <form method="get" action="/take_attendance">
            <button type="submit">ATTENDANCE<div class="block"><p>
                Mark your presence instantly with automated attendance tracking
                <img src="../image/1.jpg" class="card_icon"></p></div>
        </form>
    </button>
        <form method="get" action="/live_attendance">
            <button type="submit">LIVE ATTENDANCE<div class="block"><p>
                Track attendance in real-time with automated updates
                <img src="../image/2.jpg" class="card_icon"></p></div>
            </button>
        </form>
    </div>
    <div class="button_row1">
        <form method="get" action="/suggestions">
            <button type="submit">PERSONALIZED TASKS<div class="block"><p>
                Get Smart automated task reminders based on your classes and attendance
                <img src="../image/3.png" class="card_icon2"></p></div>
            </button>
        </form>
        <form method="get" action="/daily_routine">
            <button type="submit">DAILY ROUTINE<div class="block"><p>
                View and manage your daily class schedule with ease
                <img src="../image/4.png" class="card_icon3"></p></div>
            </button>
        </form>
        </div>
</main>
    <footer>
        <p>© 2025 Smart Curriculum. All rights reserved.</p>
        <div class="footer-links">
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Help</a>
        </div>
    </footer>
</body>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const notifications = document.querySelector(".notifications");
        const badge = document.querySelector(".notifications .badge");
        notifications.addEventListener("mouseenter", () => {
            badge.style.display = "none";
        });
    });
</script>
</html>